
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #5C5E65 ; /* #16161a */
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo {
    margin: 0;
    margin-left: 2em;
}


.menu-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

  

    
}

.menu-nav li {
    margin: 0 15px; /* Adjust margin as needed */

   
    
}

.button-container {
    margin-left: auto; /* Pushes the button container to the right */
}


.menu-nav {
    flex: 1; /* Take up remaining space between logo and button */
    display: flex;
    justify-content: center; /* Center the menu items */

    border-style: solid;
    border-radius: 10px;
    max-width: fit-content;
}

button {
    background-color: #ff8906;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    margin-right: 2em;
}





.hero-container {
    background-color: black;
    
}