:root {
    --primary-color: #100E17;
    --secondary-color: #103900;
    --accent-color: #C2F970;
    --highlight-color: #ff8906;
    --neutral-color: #F7F5EE;
}

.primary-color {
    color: var(--primary-color);
  }
  
  .secondary-color {
    color: var(--secondary-color);
  }
  
  .accent-color {
    color: var(--accent-color);
  }
  
  .highlight-color {
    color: var(--highlight-color);
  }
  
  .neutral {
    color: var(--neutral-color);
  }





body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--neutral-color); /* #16161a */
    color: black;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}



.logo {
    margin: 0;
    margin-left: 2em;
    margin-right: 27em;
}


.menu-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

  

    
}

.menu-nav li {
    margin: 0 15px; /* Adjust margin as needed */

   
    
}





.menu-nav {
  /*   flex: 1; Take up remaining space between logo and button */
    display: flex;
    justify-content: center; /* Center the menu items */

    border-style: solid;
    border-radius: 10px;
    
}

button {
    background-color: #ff8906;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    margin-right: 2em;
}





.hero-container {
    background-color: black;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

   
    
    
}


/* Set pointer cursor on hover for the navigation links */
.menu-nav a {
    cursor: pointer;
}

.hero-content {
    color: white;
    text-align: center;
    
}

.menu-nav a:hover {
    color: #ff8906;
}

.card {
    list-style: none;
    border: #100E17;
    width: 10px;
    height: 10px;
}


.sign-up-container {
    
    text-align: center;
    margin-bottom: 20px;
}




.button-container {
    margin-left: auto; 
}

