.primary-color {
    color: #100E17;
}

.secondary-color {
    color: #103900
}

.accent-color {
    color: #C2F970
}

.highlight-color {
    color: #ff8906;
}

.neutral {
   color: #F7F5EE
}



body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #5C5E65 ; /* #16161a */
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}



.logo {
    margin: 0;
    margin-left: 2em;
    margin-right: 27em;
}


.menu-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

  

    
}

.menu-nav li {
    margin: 0 15px; /* Adjust margin as needed */

   
    
}

.button-container {
    margin-left: auto; /* Pushes the button container to the right */
}


.menu-nav {
  /*   flex: 1; Take up remaining space between logo and button */
    display: flex;
    justify-content: center; /* Center the menu items */

    border-style: solid;
    border-radius: 10px;
    
}

button {
    background-color: #ff8906;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    margin-right: 2em;
}





.hero-container {
    background-color: black;

    display: flex;
    height: 100vh;
    
}


/* Set pointer cursor on hover for the navigation links */
.menu-nav a {
    cursor: pointer;
}

.hero-content {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.menu-nav a:hover {
    color: #ff8906;
}

.card {
    list-style: none;
    border: #100E17;
    width: 10px;
    height: 10px;
}

.sign-up-container {
    margin-top: auto;
    text-align: center;
    margin-bottom: 20px;
}